upstream miniblog-site {
    server 127.0.0.1:5000;
    server 127.0.0.1:5001;
}

server {
    listen 80;
    server_name example.com;
    rewrite ^ https://$server_name$request_uri? permanent;  # enforce https
}

server {
    listen 443 ssl;
    server_name example.com;
    root /var/www/miniblog;

    ssl_certificate /etc/pki/miniblog/example.com.crt;
    ssl_certificate_key /etc/pki/miniblog/example.com.key;

    access_log /var/log/nginx/miniblog_access.log;
    error_log /var/log/nginx/miniblog_error.log;

    location / {
        proxy_set_header        Host $host;
        proxy_set_header        X-Real-IP $remote_addr;
        proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header        X-Forwarded-Proto $scheme;

        client_max_body_size    10m;
        client_body_buffer_size 128k;
        proxy_connect_timeout   60s;
        proxy_send_timeout      90s;
        proxy_read_timeout      90s;
        proxy_buffering         off;
        proxy_temp_file_write_size  64k;
        proxy_pass              http://miniblog-site;
        proxy_redirect          off;
    }

    location /static {
        root                    /var/www/miniblog/miniblog;
        expires                 30d;
        add_header              Cache-Control public;
        access_log              off;
    }
}

