###
# app configuration
# http://docs.pylonsproject.org/projects/pyramid/en/latest/narr/environment.html
###

[app:miniblog]
use = egg:miniblog

sqlalchemy.url = sqlite:///%(here)s/miniblog.sqlite
mako.directories = miniblog:templates

title = My Blog Titlteg
auth_secret = my_long_auth_secret
session.secret = my_session_secret
admin_email = admin@example.com
disqus_shortname = my_username_at_disqus

persona_verifier_url = https://verifier.login.persona.org/verify 

dogpile.cache.backend = dogpile.cache.dbm
dogpile.cache.arguments.filename = %(here)s/cache/cache.dbm


pyramid.reload_templates = false
pyramid.debug_authorization = false
pyramid.debug_notfound = false
pyramid.debug_routematch = false
pyramid.default_locale_name = en
pyramid.includes =
    pyramid_tm

[filter:paste_prefix]
use = egg:PasteDeploy#prefix

[filter:weberror]
use = egg:WebError#error_catcher
debug = false

[pipeline:main]
pipeline =
    paste_prefix
    weberror
    miniblog

[server:main]
host = 127.0.0.1
port = %(http_port)s

use = egg:PasteScript#cherrypy
numthreads = 10
timeout = 180
request_queue_size = 200

###
# logging configuration
# http://docs.pylonsproject.org/projects/pyramid/en/latest/narr/logging.html
###

[loggers]
keys = root, miniblog, sqlalchemy

[handlers]
keys = console

[formatters]
keys = generic

[logger_root]
level = WARN
handlers = console

[logger_miniblog]
level = WARN
handlers =
qualname = miniblog

[logger_sqlalchemy]
level = WARN
handlers =
qualname = sqlalchemy.engine
# "level = INFO" logs SQL queries.
# "level = DEBUG" logs SQL queries and results.
# "level = WARN" logs neither.  (Recommended for production systems.)

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[formatter_generic]
format = %(asctime)s %(levelname)-5.5s [%(name)s][%(threadName)s] %(message)s
